{% extends "base.html" %}
{% block title%}Martin hledá práci{% endblock %}
{% block desc %}Hledám práci. Pokud hledáte někoho, jako jsem já, jste tu správně{% endblock %}
{% block body %}
    <div class="three columns sidebar">
        <nav>
            <h3 id="logo">Martin Putniorz</h3>
            <ul>
                <li><a href="#Who">Kdo</a></li>
                <li><a href="#What">Co umí</a></li>
                <li><a href="#Where">Co dělal</a></li>
                <li><a href="#Want">Co chce</a></li>
                <li><a href="#All">Kontakt</a></li>
            </ul>
        </nav>
        &nbsp;
    </div>
    <div class="twelve columns offset-by-one content">
        <header>
            <h1>Pythonýr hledá práci</h1>
            <h5>A pokud hledáte někoho, jako on, jste tu správně</h5>
        </header>
        <hr class="large"/>
        <div class="doc-section" id="Who">
            <h3>Kdo to je?</h3>
            <p>Martin Putniorz <em>[putňoř]</em> je  Python vývojář. Mezi jeho speciality patří:</p>
            <ul class="square">
                <li>
                    <h5>Znalost Pythonu</h5>
                    <p>V Pythonu programuje už 5 let. To není moc, ale taky to není zrovna málo (na jeho věk). Za tu dobu už vyzkoušel hodně různých <a href="#What">aspektů</a> programování.</p>
                </li>
                <li>
                    <h5>Touha učit se něco nového</h5>
                    <p>Každý je dneska "ochotný" se naučit něco nového. Méně lidí <strong>touží</strong> studovat nové technologie, postupy a metodiky. Martin je jedním z těch toužících. Třeba právě teď se ponořil do studia <a href="http://www.erlang.org/" target="_blank">Erlangu</a>.</p>
                </li>
                <li>
                    <h5>Schopnost myslet analyticky a <em>jinak</em></h5>
                    <p>Doposud byl Martin nasazován především na projekty, v nichž bylo potřeba analyzovat stávající řešení a vymyslet nové, lepší a výkonnější. Také byl nasazován na projekty, jejichž zadání ještě nikdo neřešil, a které proto potřebovaly zcela originální řešení (především se jednalo o problematiku zpracování dat).</p>
                </li>
                <li>
                    <h5>Ochota podělit se o poznatky</h5>
                    <p>Velmi často hovoří na akcích skupiny <a href="http://www.pyvo.cz/" target="_blank">PyVo</a>. Také byl zvolen za jednoho z řečníků na brněnském Barcampu <a href="http://www.superlectures.com/barcampbrno2012/lecture.php?lang=cz&id=23" target="_blank">2012</a>.</p>
                </li>
            </ul>
        </div>
        <hr />
        <div class="doc-section" id="What">
            <h3>Co umí a používá?</h3>
            <p>Jeho hlavním nástrojem je <strong>Python</strong>. Často ho spojuje s používáním <a href="https://github.com/sputnikus/postgres_barcamp" target="_blank">PostgreSQL</a>, Djanga nebo Flasku (ve kterém je naprogramován i tento web). Poslední dobou se ponořil do <a href="http://www.gevent.org/" target="_blank">událostmi řízeného programování</a>.</p>
            <p>Martin má široké znalosti na poli SQL i NoSQL úložišť - vedle Postgresu použil, nebo používá, MySQL, Redis, Riak a CouchDB.</p>
            <p>Během své dosavadní praxe se setkal i s dalšími technologiemi, např. vyvíjel <a href="https://accounts.legadino.com/" target="_blank">OAuth providera</a>, GUI aplikaci, SOAP infrastrukturu nebo fulltextový vyhledávač.</p>
            <p>Samozřejmě, jako každý programátor, má i Martin nástroje, které při práci preferuje. Především vše vyvíjí v Linuxu za pomocí editoru Sublime Text 2, jako webový server většinou používá kombinaci gunicornu a nginexu. Své výtvory verzuje gitem a ovládá fabricem.</p>
            <p>Co se týče ostatních dovedností, patří k nim nativní znalost českého jazyka a pokročilá znalost jazyka <a href="{{ url_for('english') }}">anglického</a>.</p>
        </div>
        <hr />
        <div class="doc-section" id="Where">
            <h3>Co doteď dělal?</h3>
            <p>Kompletní soupis jeho zaměstnavatelů a vzdělání naleznete na <a href="http://zerp.ly/sputnikus" target="_blank">Zerply</a>.</p>
            <p>Většina Martinovy práce je licencována restriktivně a nikdy nebyla zpřístupněna pro širokou veřejnost (jednalo se o interní systémy), a tak jediným jeho veřejně dostupným projektem je v současné době OAuth provider <a href="https://accounts.legadino.com/" target="_blank">Accounts</a> vyvinutý pro firmu <a href="http://www.michaljanik.cz/" target="_blank">Michaljanik.cz</a>.Také vyřešil několik problémů souvisejících s daty běhěm své dvouměsíční anabáze v <a href="http://www.synopsi.tv/">SynopsiTV</a>.</p>
            <p>Co se týče vlastních projektů, většina je přístupná na jeho <a href="https://github.com/sputnikus" target="_blank">GitHubu</a>.</p>
        </div>
        <hr />
        <div class="doc-section" id="Want">
            <h3>Co požaduje?</h3>
            <p>Především zajímavou práci plnou <strong>výzev</strong>. Tomu odpovídající platové <strong>ohodnocení</strong>. A v neposlední řadě dobré <strong>zázemí</strong>.</p>
            <p>Nechce pracovat v kanceláři. Po roce práce na dálku věří, že to není nutné.</p>
        </div>
        <hr />
        <div class="doc-section" id="All">
            <h3>Jak ho kontaktovat?</h3>
            <p>Zaujal vás Martin? Pokud ano, není nic snazšího, než mu napsat <a href="mailto:mputniorz@gmail.com">email</a> nebo se s ním spojit pomocí jiných <a href="http://zerp.ly/sputnikus" target="_blank">kanálů</a>.</p>
        </div>
        <div class="doc-section">
            <footer class="add-bottom" style="margin-top: 20px"><a href="http://tinyurl.com/ponyfy#cover-letter.herokuapp.com" id="easter">©</a> 2013 Martin Putniorz | Stránka vytvořena za použití <a href="http://flask.pocoo.org/" target="_blank">Flasku</a> a <a href="http://www.getskeleton.com/" target="_blank">Skeletonu</a> | <span id="custom-tweet-button"><a href="https://twitter.com/share?url=http%3a%2f%2fcover-letter.herokuapp.com&via=sputnikus&text=Python%c3%bdr+hled%c3%a1+pr%c3%a1ci" target="_blank">Tweet</a></span></footer>
        </div>
    </div>
{% endblock %}